@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;

/* concept */
.p-concept {
  margin: 8rem 0;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    transparent 20%,
    v.$light-grey 20%,
    v.$light-grey 100%
    );
  @include m.media(pc) {
    display: flex;
    margin: 16rem 0;
  }
  &__description {
    text-align: left;
    margin-bottom: 2rem;
    @include m.media(pc) {
      text-align-last: left;
    }
  }
  &__image {
    @include m.media(pc) {
      margin: -6rem 0;
      max-width: 38rem;
    }
  }
}