@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;

/* slide menu */
/* 開閉ボタン */
.p-slide-menu {
  &__btn {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 4;
    & svg {
      fill: v.$brown;
      margin-top: .25rem;
      height: 2rem;
      width: 2rem;
    }
    &.c-btn-round--close:hover svg {
      @include m.media(pc) {
        fill: v.$brown;
      }
    }
    &.c-btn-round--close svg {
      fill: v.$light-green;
    }
  }
}


/* スライドメニューパネル */
.p-slide-menu {
  &__panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 8rem 2rem 2rem;
    width: max(32vw, 20rem);
    height: 100vh;
    background-color: v.$brown;
    box-shadow: 0 0 2rem v.$brown;
    font-family: v.$oswald-font;
    translate: 100vw;
  }
  &__list {
    list-style: none;
  }
  &__item {
      margin: 1.5rem 0;
      opacity: 0;
    & a {
      color: v.$light-green;
      text-decoration: none;
      font-size: 2rem;
      &:hover {
        @include m.media(pc) {
          transition: .4s;
          color: v.$green;
        }
      }
    }
  }
}
