@use '../../foundation/variables' as v;
@use '../../foundation/mixin' as m;

/* c-btn-round */
.c-btn-round {
  padding: 0.5rem 1rem;
  border: 1px solid v.$brown;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  transition: .4s;
  &:hover {
    @include m.media(pc) {
      background-color: v.$light-green;
    }
  }
  &--close {
    border: 1px solid v.$light-green;
  }
}


.c-btn {
  border: 1px solid v.$brown;
  text-decoration: none;
  display: inline-block;
  transition: .4s;
}