@use '../../foundation/variables' as v;

/* loading */
.c-loading {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
  &--light-grey {
    background-color: v.$light-grey;
  }
  &--screen {
    background-color: v.$light-green;
    z-index: 9998;
    translate: 0 100vh;
  }
}
